*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  
}
body{
  overflow: auto;
}


.main{
  width: 45%;
  background-image:url(../images/tochi.jfif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  
  margin-top: 40px;
  float: right;
  overflow: hidden;
  
  
}

  .navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
  }

  .icon{
    width: 200px;
    float: left;
    height: 70px;
  }

  .logo{
    color:rgb(83, 161, 192);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float:left;
    padding-top:10px;
    
    margin-left: 280px;

  }
  .menu{
    width: 400px;
    float: left;
    height: 70px;
    
  }

  ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
  }

  ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }

  ul li a:hover{
    color:rgb(35, 101, 128)
  }

  #login{
    top: 0px;
    background-color: gray;
    position: fixed;
    margin-top: 20px;
    margin-left: 20px;
    
  }

  #login:hover{
    color: blue;
  }
  .srch{
    border: 1px solid blue;
    float: right;
  
    bottom: 0px;
    right: 0px;
    position: fixed;
    margin-left: 100rem;
    font-size: 25px;
    
  }

  .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:black;
    position: relative;
  }

  .content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
  }

  .content h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left: 20px;
    letter-spacing: 2px;
  }

  .content .cn{
    width: 160px;
    height: 40px;
    background:rgb(83, 161, 192);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 18px;
    cursor: pointer;
    transition: .4s ease;
    
  }

  .content.cn a{
    text-decoration: none;
    color:black ;
    transition: .3s ease;
  }

  .cn:hover{
    background-color: black;
  }
  .img{
    height: 80px;
    width: 80px;
    display: flex;
    position: fixed;
  }
  .you{
    height: 50px;
    width: 50px;
    margin-top: -20px;
    
  }
  h4{
    margin:20px;
  }
  .bag{
    
    margin-left: 1949px;
    margin-top: -420px;
    
  }
  .hair{
    margin-left: 1949px;
    margin-top: 29px;
  }
  .iron{
    margin-left: 1949px;
    margin-top: 29px;
  }
  .meat{
    margin-left: 1949px;
    margin-top: 29px;
  }
  .food{
    
    display: flex;
    margin-left: 300px;
    margin-top: 29px
    
  }
  .nice{
    margin-left: 300px;
  }
  .garri{
    margin-top: 400px;
    margin-left: 300px;
  }
  .flex{
    margin-top: -1000px;
    margin-left: 1000px;
  }
  .look{
    margin-top: -40px;
    margin-left: 1000px;
  }
  .head{
    margin-left: 100rem;
    margin-top: -472px;
  }
  .body{
    margin-left: 100rem;
    margin-top: -22px;
  }
  




  